@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('../src/assets/fonts/Urbanist/static/Urbanist-Medium.ttf') format('truetype');
}

body {
  background: #f1f1f1;
}